@use '../utilities/variables' as *;

/* Display */
@keyframes iconRotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Keys */
@keyframes keyDrop {
    0% {
        box-shadow: 0 4px $c-keys-shadow
    }

    100% {
        box-shadow: 0 0px $c-keys-shadow;
    }
}

@keyframes keyDrop-spec {
    0% {
        box-shadow: 0 4px $c-keys-func-shadow;
    }

    100% {
        box-shadow: 0 0px $c-keys-func-shadow;
    }
}

@keyframes keyDrop-equal {
    0% {
        box-shadow: 0 4px $c-keys-equal-shadow;
    }

    100% {
        box-shadow: 0 0px $c-keys-equal-shadow;
    }
}

/* Theme-modal */
@keyframes themeModalSlide {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: scale(0.8);
    }
    80% {
        visibility: visible;
        opacity: 0.8;
        transform: scale(1.1);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}