@use '../utilities/variables';
@use '../utilities/mixins';

.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: 998;
    transition: opacity 500ms ease-in-out;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}